name: 'build'
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set XCode version
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable
      - name: Build
        run: xcodebuild
      - name: Release
        uses: softprops/action-gh-release@v0.1.5
        with:
          files: build/Release/WeatherInfo.app
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}